.group-item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 15px;
    border: 2px solid #406882;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.group-item-clickable:hover {
    opacity: 0.8;
    cursor: pointer;
    background-color: rgba(64, 104, 130, 0.2);
}

.group-heading {
    font-size: 20px;
    color: #406882;
    text-align: center;
}

.group-description {
    font-size: 15px;
    color: #B1D0E0;
    text-align: center;
}

.clickable-icon {
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

.clickable-icon:hover {
    opacity: 0.8;
}